@media only screen and (max-width: 770px) {
    .tytulowy-overlay {
        display: none;
    }
}

@media only screen and (min-width: 771px) {
    .tytulowy-overlay {
        height: 50vh;
    }
}

@media only screen and (min-width: 1500px) {
    .tytulowy-overlay {
        height: 43vh;
    }
}


html {
    scroll-behavior: smooth;
}

.wideo-header{
    height: 100vh;
    display: flex;
    align-items: center;
    color: white;
}

.wideo-tlo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.wideo-tlo video{
    min-width: 100%;
    min-height: 100%;
    position: relative;
    left: 100%;
    margin-left: -200%;
}

.wideo-overlay{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(17, 35, 95, 0.664);
    z-index: 1;
    opacity: 0.8;
}

.tytulowy-overlay{
    width: 100vw;
    position: absolute;
    left: 0;
    background: rgba(121, 239, 255, 0.246);
    z-index: 1;
    border-top: 3px solid rgb(255, 255, 255);
    border-bottom: 3px solid rgb(255, 255, 255);
}

.header-content{
    z-index: 3;
}

.bttn{
    background: #F7567C;
    color: azure;
    font-size: 1.3rem;
    padding: 1rem 2rem;
    text-decoration: none;
}

.btn:hover{
    color: azure;
    background-color: #99E1D9;
    border: none;
}

.section{
    padding: 20px 0;
}

.section-b{
    background: #333;
    color: #fff;
}

#vv{
  z-index: 3;  
}

#dzm, #zesp{
    font-size: larger;
}

.zdjecie{
    width: 150px;
    height: 150px;
}

.gradient1 {
    background: linear-gradient(320deg, #df2bff, #8be8ff);
    background-size: 400% 400%;
    animation: animowaneTlo 23s ease infinite;
}


